<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657179448234-2s5u1b8g7h7e0utu732vkac9qhh6ijv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657179448234-2s5u1b8g7h7e0utu732vkac9qhh6ijv3</string>
	<key>API_KEY</key>
	<string>AIzaSyB0LvcYTTtW9CnLqOKPTp_ZQxP2i-MYOKA</string>
	<key>GCM_SENDER_ID</key>
	<string>657179448234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grupocerroprieto.acpmovil</string>
	<key>PROJECT_ID</key>
	<string>gcp-movil</string>
	<key>STORAGE_BUCKET</key>
	<string>gcp-movil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657179448234:ios:5649bde193b6fedd24d1d3</string>
</dict>
</plist>